<!-- templates/base.html -->
{% load static %}
<!Doctype html>
<header>
    <title>Academic Freedom LK</title>
    <a class="header-link" href="{% url 'home' %}">Search</a>
    <a class="header-link" href="{% url 'academic_freedom_judgements' %}">Academic Freedom Decisions</a>
    <a class="header-link" href="{% url 'about' %}">About</a>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</header>

{% block content %}
{% endblock content %}